EMBEDDING_MODEL_DEVICE=cpu
LLM_MODEL_DEVICE=cuda:0
QDRANT_HOST=localhost
# # use this host instead above one if you're using docker
# QDRANT_HOST=host.docker.internal
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=collection_name
APP_PORT=3336
